.form-label {
  display: block;
  margin: 0 0 10px;

  font-size: 18px;
}

.form-control {
  position: relative;

  margin: 0;
  padding: 0;

  border: 0;
}

.form-input {
  width: 423px;
  height: 50px;
  margin-right: 62px;
  padding: 15px;

  border: 0;
}

.form-submit {
  position: absolute;
  top: 0;
  right: 0;

  width: 62px;
  height: 50px;

  border: 0;

  background-color: var(--color-main);

  cursor: pointer;

  transition: 0.2s;
}

.form-submit:hover {
  background-color: #ea7600;
}

.form-submit::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-left: -12px;

  background-image: url("../images/main.png");

  content: "";
}

.form-privacy {
  font-size: 12px;
  line-height: 1.6;
}
