/** CSS STYLE **/
:root {
  --color-white: #fff;
  --color-translucent-white: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-translucent-dark: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
  --font-main: 'Open Sans', sans-serif;
  --font-title: 'Neucha', cursive;
}

body {
  color: var(--color-dark);
  font-size: 16px;
  line-height: 1.6em;
}

h1 {
  font-size: 72px;
  font-family: var(--font-title);
  line-height: 1.2em;
}

h2 {
  font-size: 60px;
  font-family: var(--font-title);
  line-height: 1.2em;
}

h3 {
  font-size: 34px;
  font-family: var(--font-title);
  line-height: 1.2em;
}

section {
  padding: 100px 0;
}